apiVersion: apps/v1
kind: Deployment

metadata:
  name: spring-deployment

# Deployment 세부 정보
spec:
  replicas: 3 # 몇개의 Pod를 생성할 것인지
  selector:
    matchLabels:
      app: backend-app # backend-app을 label을 가진 template을 deployment한다

  # 배포할 Pod 정의
  template:
    metadata:
      labels:
        app: backend-app # selector와 일치 시킨다.
    spec:
      containers:
      - name: spring-container
        image: spring-server:1.0
        ports:
        - containerPort: 8080
        imagePullPolicy: IfNotPresent

